*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Josefin Sans',sans-serif;
    font-size:16px;
    min-height:100vh;
    background:linear-gradient(135deg,hsl(0,0%,100%),hsl(0,100%,98%));
}

.wrapper{
    display:flex;
    min-height:100vh;
}

.left{
    flex:1;
    padding:60px 150px;
    position:relative;
    display:flex;
    flex-direction:column;
}

.bg-pattern{
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    width:100%;
    max-width:600px;
}

.logo{
    width:150px;
    margin-bottom:120px;
}

.content{
    max-width:450px;
}

h1{
    font-size:64px;
    letter-spacing:15px;
    line-height:1.1;
    font-weight:600;
    color:hsl(0,6%,24%);
    margin-bottom:25px;
}

h1 span{
    font-weight:300;
    color:hsl(0,36%,70%);
}

p{
    color:hsl(0,36%,70%);
    line-height:1.7;
    margin-bottom:40px;
}


.input-group{
    position:relative;
}

input{
    width:100%;
    padding:18px 120px 18px 30px;
    border-radius:50px;
    border:1px solid hsl(0,36%,70%);
    outline:none;
    font-family:inherit;
}

input::placeholder{
    color:hsl(0,36%,70%);
    opacity:.6;
}

button{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:100px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:linear-gradient(135deg,hsl(0,80%,86%),hsl(0,74%,74%));
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

button img{
    width:20px;
}

button:hover{
    opacity:.85;
}

.error-icon{
    position:absolute;
    right:110px;
    top:50%;
    transform:translateY(-50%);
    display:none;
}

.error-text{
    color:hsl(0,93%,68%);
    margin-top:10px;
    font-size:14px;
    display:none;
}

.input-group.error input{
    border:2px solid hsl(0,93%,68%);
}

.input-group.error .error-icon{
    display:block;
}

.input-group.error + .error-text{
    display:block;
}

.right{
    flex:1;
    position:relative;
}

.hero-desktop{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.hero-mobile{
    display:none;
}

@media(max-width:768px){

.wrapper{
    flex-direction:column;
}

.left{
    padding:40px 30px;
}

.logo{
    margin-bottom:40px;
}

.right{
    order:-1;
}

.hero-desktop{
    display:none;
}

.hero-mobile{
    display:block;
    width:100%;
    height:300px;
    object-fit:cover;
}

h1{
    font-size:40px;
    text-align:center;
}

p{
    text-align:center;
}

form{
    text-align:center;
}
}